// We can leave off the underscore and the extension

@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/callout-auth";
@import "components/container";
@import "components/page-actions";
@import "components/page-title";
@import "components/todo";